body{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) !important; 
    height: 100vh !important;
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    padding-top: 18vh !important;  
}
.main-container{
    margin: 0px !important;
    
}
.sub-container{
    background-color: white;
    border-radius: 20px;
    height: 66vh; 
}
.max-height{
    height: 100% !important;
}
.margin-left{
    margin-left: -4.5vw !important; 

}
.clo-left{
    overflow: hidden !important; 
    max-height: 100% !important;

}
.col-right{
    overflow: scroll !important;
    max-height: 100% !important;
}
.col-right::-webkit-scrollbar{
    display: none !important;
}
.voman-des{
    width: 33vw !important;
    margin-left: -6.5vw !important; 
    /* margin-top: -18vh !important;   */
}
.ptr-des{
    margin-left: -63vw !important; 
    width: 60vw !important;
    /* margin-top: -29vh !important;   */
    margin-top: -60vh !important; 
    position: absolute !important;  
}
.box{
    width: 13.75vw !important;
    position: absolute !important;
    z-index: 1 !important;
    margin-left: -6.5vw !important;
    margin-top: 26.5vh !important;
}     
.img-section{
    display: table !important;   
    width: 100% !important;
    height: 100% !important;
}
.img-frame{
    display: table-cell !important;
    vertical-align: middle !important; 
}  
.img-frame-2{
    display: table-cell !important;
    vertical-align: middle !important; 
}  
.answer{
    display: none;
} 
.accardion{
    width: 25vw !important;
    margin-top: 5vh !important; 

}
.faq{
    margin-top: 7vh !important; 
    color: hsl(238, 29%, 16%) !important;   
}

.ask{
    display: flex !important;
    justify-content: space-between !important;
    cursor: pointer !important;
    align-items: center !important;
    color: hsl(237, 12%, 33%) !important;
    height: 3vh !important; 
    margin-bottom: 1.5vh !important;
}

.ask:hover{
    color: hsl(14, 88%, 65%) !important;
}

hr{
    color: hsl(240, 5%, 91%) !important;
    
}
p{
    font-size: 11px !important;
    width: 87% !important;
    color: hsl(240, 6%, 50%) !important;
}
.test{
    display: none !important;
}



    


 



@media (max-width: 576px) {
     .voman-des ,.ptr-des ,.box{
         display: none !important;
     }
     .sub-container{
         overflow: visible !important;
     }
     .clo-left{
        overflow: visible !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important; 
     }
     .col-right{
         
         display: flex !important;
         flex-direction: column !important;
         align-items: center !important;
         
     }
     .accardion{
         width: 89% !important;
     }
      
      p{
          width: 90% !important;
      }

      
     .test{
         display: block !important; 
         margin-top:-25vh !important;
     }  
     
     .ptr-mb{
         margin-top: -10vh !important;
    
     } 
     body{
          padding-top: 22vh !important; 
     } 
    }


