body{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) !important; 
    height: 100vh !important;
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    padding-top: 18vh !important;  
    /* padding-right: 6vw !important;   
    padding-left: 4vw; */
}
.main-container{
    margin: 0px !important;
}
.sub-container{
    background-color: white;
    border-radius: 20px;
    height: 66vh; 
}
.max-height{
    height: 100% !important;
}
.margin-left{
    margin-left: -4.5vw !important; 

}
.clo-left{
    overflow: hidden !important;
}
.voman-des{
    width: 33vw !important;
    margin-left: -6.5vw !important;
    margin-top: -18vh !important;
}
.ptr-des{
    margin-left: -63vw !important;
    width: 60vw !important;
    margin-top: -29vh !important;
}
.box{
    width: 13.75vw !important;
    position: absolute !important;
    z-index: 1 !important;
    margin-left: -6.5vw !important;
    margin-top: 25vh !important;
}     
.img-section{
    display: table !important;  
    width: 100% !important;
    height: 100% !important;
}
.img-frame{
    display: table-cell !important;
    vertical-align: middle !important;
}  
.answer{
    display: none;
} 
.accardeon{
    width: 25vw !important;
    margin-top: 4vh !important;
}
.ask{
    display: flex !important;
    justify-content: space-between !important;
    cursor: pointer !important;
    align-items: center !important;
    color: hsl(237, 12%, 33%) !important;
    height: 3vh !important; 
}

.faq{
    margin-top: 4vh !important;
    color: hsl(238, 29%, 16%) !important;
    
}
.ask:hover{
    color: hsl(14, 88%, 65%) !important;
}
hr{
    color: hsl(240, 5%, 91%) !important;
    
}
p{
    font-size: 11px !important;
    width: 87% !important;
    color: hsl(240, 6%, 50%) !important;
}

    
    





@media (max-width: 576px) {
     .voman-des ,.ptr-des ,.box{
         display: none !important;
     }
     .clo-left{
         overflow: visible !important;
     }
     .col-right{
         
         display: flex !important;
         flex-direction: column !important;
         align-items: center !important;
     }
     .accardeon{
         width: 85% !important;
     }
      
      p{
          width: 80% !important;
      }
    
}

/* @media(max-width: 700px){
    .answer{
      margin-top: 2.5vh !important;
}

    .sub-container{
        height: 85% !important;
    }
    body{
    
    }  */


