body{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) !important; 
    height: 100vh !important;
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    padding-top: 18vh !important;    
}
.main-container{
    margin: 0px !important;
}
.sub-container{
    background-color: white;
    border-radius: 20px;
    height: 66vh; 
}
.max-height{
    height: 100% !important;
}
.margin-left{
    margin-left: -4.5vw !important;
}
.clo-left{
    overflow: hidden !important;
}
/* .img-section{
    display: table !important;
    width: 100% !important;
    height: 100% !important;
}
.img-frame{
    display: table-cell !important;
    vertical-align: middle !important;
} */
/* 
.woman-desktop{
     width: 34vw !important; 
     margin-left: -7vw!important ; 
    margin-top: -26vh !important;  
 } 
 .ptr-desktop{ 
    width: 30vw !important; 
    margin-top: -28vh !important;   
    margin-left: -63vw !important;   
} 
.box{
    width: 13.75vw !important;
    position: absolute !important;
    z-index: 1 !important;
    margin-top: 14.8vw !important;
    margin-left: -6.5vw !important;

}   */
